<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color:sky-blue">

<header th:replace="/studentheader :: body"></header>
<h4> Hi, Welcome <span th:text ="*{userDetails}"></span> </h4>
<br><br>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Enlight Your Informations</h1>
        <p class="lead">No Informations....</p>
    </div>
</div>



</body>
</html>